$button-height: 20px;
$font-size-button: 15px;

.button{
    padding: $gutter;     
    border: solid 1px;
    width: auto;
    padding: 10px 30px 6px;
    font-size: $font-size-button;
    letter-spacing: .15em;

    &--orange{
        background-color: $orange-1;
        color: $white;

        &:hover{
            background-color: $orange-2;            
        }
    }

    &--white{
        background-color: $white;
        color: $orange-1;

        &:hover{
            background-color: $orange-1;
            color:$white;
        }
    }

    &:hover{
        cursor: pointer;
    }
}