// Spacing
$gutter: 30px;
$gutter-1: $gutter / 2;
$gutter-2: $gutter;
$gutter-3: $gutter * 1.5;
$gutter-4: $gutter * 2;
$gutter-5: $gutter * 2.5;

// Color
$white: #fff;
$black: #000;
$black-1: $black;
$black-2: #1b1d1d;
$black-3: #292a2a;
$orange-1: #f26522;
$orange-2: #b44917;
$sand-1: #efe7de;
$green-1: #7fc241;
$green-2: #61992f;
$gray-1: #808285;

//fonts
$font: Georgia,Times,serif;
$font-size: 17px;
