<div class="app-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 app-block__col--text">
                   <h3> We have your solution in ingredient innovation.</h3>
                   <p>  We have your solution in ingredient innovation.
                    You want to provide customers with quality, innovative products. We're here to help. Let our team guide you to your custom solution.
                </p>
                <partial src="_button.html" text="LET S TALK" class="button button--orange"></partial>
                <partial src="_button.html" text="REQUEST SAMPLES" class="button button--white"></partial>
            </div>
            <div class="col-md-6 app-block__col--video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sxqzMYjjkW8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>