<header class="app-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="app-header__wrapper">
                    <div class="app-header__logo-container">
                        <img class="app-header__logo-img" src="assets/img/logo.png" alt="Logo">
                    </div>
                    <ul class="app-header__list">
                        <li class="app-header__item"><a href="#" class="app-header__link">PRODUCTS</a></li>
                        <li class="app-header__item"><a href="#" class="app-header__link">PROCESSES</a></li>
                        <li class="app-header__item"><a href="#" class="app-header__link">QUALITY</a></li>
                        <li class="app-header__item"><a href="#" class="app-header__link">ABOUT</a></li>
                        <li class="app-header__item"><a href="#" class="app-header__link">BLOG</a></li>
                        <li class="app-header__item"><a href="#" class="app-header__link">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>